<template>
  <div id="DashboardView" dark>
    <v-container fluid>
      <v-row>
        <v-col
          v-if="loading"
          cols="12"
          class="d-flex justify-center align-center flex-column vh-100"
        >
          <v-progress-circular indeterminate color="primary" size="100"></v-progress-circular>
          <p class="mt-4 white--text">Loading your feeds...</p>
        </v-col>
        <v-col
          v-else-if="error"
          cols="12"
          class="d-flex justify-center align-center flex-column vh-100"
        >
          <h1 class="error-text">Something went wrong, please refresh the page and try again.</h1>
        </v-col>
        <v-col
          v-else
          cols="12"
          md="3"
          v-for="(feed, index) in feeds"
          :key="index"
        >
        <single-feed :feed="feed"></single-feed>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  name: 'DashboardView',
  props: {
    //
  },
  data: () => ({
    loading: true,
    error: false
  }),
  computed: {
    feeds() {
      return this.$store.state.feeds.feeds
    }
  },
  created() {
    const context = this
    if (!context.$store.state.feeds.feeds.length) { // Only rerun on page change if there are no feeds
      this.$store.dispatch('feeds/getFeeds')
      .then(
        () => {
          context.loading = false
        }
      )
      .catch(
        error => {
          context.error = true
          context.loading = false
        }
      )
    } else {
      context.loading = false
    }
  },
  methods: {
    //
  },
}
</script>
<style lang="scss">
#DashboardView {
  .vh-100 {
    height: calc(100vh - 100px);
  }
  .error-text {
    color: rgb(212, 34, 34);
  }
}
</style>
