<template>
  <div id="FeedView">

    <v-container fluid>
      <v-row>
        <v-col
          v-if="loading"
          cols="12"
          class="d-flex justify-center align-center flex-column vh-100"
        >
          <v-progress-circular indeterminate color="primary" size="100"></v-progress-circular>
          <p class="mt-4 white--text">Loading feed...</p>
        </v-col>
        <v-col
          v-else-if="error"
          cols="12"
          class="d-flex justify-center align-center flex-column vh-100"
        >
          <h1 class="error-text">Something went wrong, please refresh the page and try again.</h1>
        </v-col>
        <v-col
          v-else
          cols="12"
          md="6"
          offset-md="3"
        >
          <v-card>
            <v-img
              v-if="feed.rss.image"
              height="250"
              :src="feed.rss.image.url"
              :alt="feed.rss.image.title"
            ></v-img>
            <v-card-title class="d-flex justify-space-between align-center">
              <h2>{{ feed.rss.title }}</h2>
              <a :href="feed.url">visit</a>
            </v-card-title>
            <v-card-text class="d-flex justify-center align-center flex-column">
              <p v-if="feed.rss.description">{{ feed.description }}</p>
              <feed-item v-for="(item, itemIndex) in feed.rss.item" :key="itemIndex" :item="item" />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  name: 'FeedView',
  props: {
    //
  },
  data: () => ({
    loading: true,
    error: false
  }),
  computed: {
    feed() {
      return this.$store.state.feeds.currentFeed
    }
  },
  created() {
    const context = this
    this.$store.dispatch('feeds/getCurrentFeed', this.$route.params.id)
    .then(
      () => {
        context.loading = false
      }
    )
    .catch(
      error => {
        context.loading = false
        context.error = true
      }
    )
  },
  methods: {
    //
  },
}
</script>
<style lang="scss">
#FeedView {
  .vh-100 {
    height: calc(100vh - 100px);
  }
  .error-text {
    color: rgb(212, 34, 34);
  }
}
</style>
