<template>
  <v-card class="feed-item elevation-1 mt-4">
    <v-card-title>
      <a :href="item.link">
        {{ item.title }}
      </a>
    </v-card-title>
    <v-card-text v-html="item.description" />
  </v-card>
</template>
<script>
export default {
  name: 'feed-item',
  props: {
    item: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
.feed-item {
  position: relative;
  * {
    max-width: 100%;
  }
  a {
    text-decoration: none;
  }
}
</style>
