<template>
  <div class="new-feed-form">
    <v-dialog
      v-model="dialog"
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          text
          dark
          v-bind="attrs"
          v-on="on"
        >
          New Feed
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Add new RSS Feed</span>
        </v-card-title>
        <v-card-text>
          <v-form v-model="valid">
            <v-text-field
              label="Feed URL*"
              v-model="newFeed.url"
              :rules="[
                v => v !== '' || 'URL is required'
              ]"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="create"
            :disabled="!valid"
            :loading="creating"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: 'new-feed-form',
  data: () => ({
    dialog: false,
    valid: false,
    creating: false,
    newFeed: {
      url: ''
    }
  }),
  methods: {
    create() {
      const context = this
      context.creating = true
      context.$store.dispatch('feeds/addFeed', this.newFeed).then(
        response => {
          context.dialog = false
          context.creating = false
        }
      );
    }
  },
}
</script>
