<template>
  <v-card class="single-feed">
    <v-img
      v-if="feed.rss.image"
      height="250"
      :src="feed.rss.image.url"
      :alt="feed.rss.image.title"
    ></v-img>
    <v-card-title class="d-flex justify-space-between align-center">
      <h2>{{ feed.rss.title }}</h2>
      <router-link :to="{ name: 'FeedView', params: { id: feed.id }}">single feed</router-link>
    </v-card-title>
    <v-card-text>
      <p v-if="feed.rss.description">{{ feed.description }}</p>
      <feed-item v-for="(item, itemIndex) in feed.rss.item" :key="itemIndex" :item="item" />
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: 'single-feed',
  props: {
    feed: {
      type: Object
    }
  },
  data: () => ({
    //
  }),
  computed: {
    //
  },
  created() {
    //
  },
  methods: {
    //
  },
}
</script>
<style lang="scss">
.single-feed {
  max-height: 100vh;
  overflow-y: auto;
}
</style>
