<template>
  <v-app id="AppLayout" dark>
    <v-app-bar app dark>
      <v-spacer></v-spacer>
      <v-btn text dark :to="{ name: 'DashboardView' }">Home</v-btn>
      <new-feed-form></new-feed-form>
      <v-btn text dark @click="logout">Logout</v-btn>
    </v-app-bar>
    <v-main dark>
      <v-container fluid dark>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
  export default {
    name: 'AppLayout',
    methods: {
      logout() {
        axios.post('/logout').then(
          response => {
            window.location.reload()
          }
        )
      }
    }
  }
</script>
<style lang="scss">
  .v-main {
    background-color: #484848;
  }
</style>